html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #2a4d69;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: large;
}

header .navbar-nav .nav-link.active {
  color: #4682b4 !important;
}

header .navbar-nav .nav-item .nav-link:hover {
  color: #4682b4;
}

footer {
  background: #2a4d69;
  color: #fff;
  padding: 40px 0 0;
  line-height: 2;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: none;
  color: #4682b4;
}

footer .footer-logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

footer .social-icons a {
  font-size: 18px;
  margin-right: 10px;
  align-items: baseline;
}

footer .social-icons a:hover {
  color: #fff;
}

footer h5 {
  color: #fff;
}

footer ul {
  padding-left: 0;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a {
  font-size: 14px;
}

.search-bar {
  width: 250px;
}

.search-bar input {
  background-color: #ffffff;
  color: #000;
}

.search-bar input::placeholder {
  color: #999;
}

.search-bar i {
  pointer-events: none;
  color: #2a4d69;
}

.sub-header {
  background-color: #bfdcf3;
}

.sub-header .form-control {
  width: 220px;
}

.sub-header input::placeholder {
  color: #777;
}

.dropdown-menu {
  border-radius: 10px;
  overflow: hidden;
  background: #bfdcf3;
  color: black;
  text-align: center;
  line-height: 2;
  font-weight: 900;
}

.dropdown-menu a:hover {
  color: black;
  background-color: transparent;
}

.srch-btn-primary {
  background: #2a4d69;
  color: #fff;
}

.max-content-div {
  width: max-content;
}

.brands-section {
  padding: 40px 0;
}

.brands-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 25px;
}

.brands-container {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 15px;
}

.brand-card {
  flex: 0 0 auto;
  width: 220px;
  height: 150px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.brand-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.brand-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brands-container::-webkit-scrollbar {
  display: none;
}

.brands-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.m-card {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: #2a4d69;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-card img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.m-card div {
  margin-top: 10px;
  font-size: 1.5rem;
  color: white;
}

.testimonial-section {
  padding: 60px 0;
  text-align: center;
  background: #4682b4;
}
.testimonial-section h2 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}
.rating-box,
.testimonial-card {
  background: #fff;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.rating-box h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #143c56;
}
.rating-box i {
  color: #f6b100;
  font-size: 1.4rem;
}
.progress {
  height: 10px;
  border-radius: 10px;
  background-color: #e6f0f5;
}
.progress-bar {
  background-color: #143c56;
}
.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.testimonial-card h5 {
  font-weight: 700;
  color: #143c56;
  margin-bottom: 15px;
}
.testimonial-card p {
  font-weight: 500;
  color: #222;
  line-height: 1.6;
}
.carousel-indicators [data-bs-target] {
  background-color: #143c56;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.feature-card {
  background-color: #e9f0f7;
  border-radius: 50% 20% / 10% 40%;
  padding: 30px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.feature-card:hover {
  transform: translateY(-5px);
}
.feature-icon {
  font-size: 70px;
  color: #000;
  margin-bottom: 20px;
}
.feature-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.feature-text {
  font-size: 16px;
  color: #333;
}

.brand-img {
  width: 180px;
  height: 100px;
}

.support-wrapper {
  background-color: #9ed0f6;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 60px;
}

.support-wrapper::before {
  content: "";
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: 450px;
  background: url("images/customer.jpg") no-repeat center center/contain;
  opacity: 0.15;
  pointer-events: none;
}

.support-content {
  position: relative;
  z-index: 2;
  line-height: 2;
}

.support-title {
  font-weight: 700;
  text-align: center;
  color: #12354a;
  font-size: 1.9rem;
}

.support-subtitle {
  text-align: center;
  font-weight: 600;
  color: #12354a;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

ul.support-list {
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
  color: #fff;
}
ul.support-list li::before {
  content: "• ";
  color: #fff;
  font-weight: bold;
}

.btn-request {
  background-color: #133b4f;
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 12px 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.buy-now-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.card {
  background: #336185;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(51, 97, 133, 0.08);
  height: 500px;
  line-height: 2;
}

.form-control {
  border-radius: 9px;
  border: 1px solid #0a0a0a;
  line-height: 3;
}
.btn-submit {
  background: #336185;
  border: none;
  width: 250px;
  height: 60px;
}
.side-section {
  min-width: 200px;
  max-width: 350px;
}

@media (max-width: 991px) {
  .side-section {
    max-width: 100%;
  }
}

.order-card,
.price-card {
  background: #578cc5;
  color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(70, 70, 70, 0.2);
  padding: 18px 20px;
  margin-bottom: 22px;
  line-height: 3;
}

.price-card {
  background: #5586b4;
}

.section-title {
  font-weight: 600;
  font-size: 1.08rem;
  margin-bottom: 16px;
}

.pay-method-box {
  background: #fff;
  border-radius: 12px;
  box-shadow: 2px 2px 12px rgba(50, 50, 50, 0.07);
  padding: 28px 22px;
}

.form-check {
  margin-bottom: 18px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-check img {
  width: 70px;
}

.form-label {
  margin-left: 10px;
}

.form-control {
  border: 1px solid black;
  margin-bottom: 14px;
  padding: 12px;
  margin-left: 30px;
  width: 500px;
}
.form-controll {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
}

.pay-btn {
  width: 100%;
  background: #3d5b75 !important;
  color: #fff !important;
  font-weight: 600;
  border-radius: 8px;
  font-size: 1.12rem;
}

.total-price {
  font-weight: 600;
}

.row-md-gap {
  gap: 26px;
}

.icon-gpay {
  width: 22px;
  margin-right: 7px;
}

.icon-pay {
  width: 22px;
  margin-right: 7px;
}

.top-bar {
  background: #173b5b;
  border-radius: 8px;
  color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top-bar .bar-item {
  font-size: 0.98rem;
  border-right: 1px solid white;
  text-align: center;
  padding-right: 30px;
  height: 70px;
}
.main-box {
  background: #fff;
  border-radius: 12px;
  border: 2px solid blue;
  max-width: 1200px;
  margin: 0 auto 32px auto;
  padding: 33px 30px 10px 30px;
}
.download-btn {
  position: relative;
  left: -40px;
}
.bold {
  border: 0 !important;
  height: 1px !important;
  background-color: black;
}

.main-box h5 {
  font-weight: 600;
  font-size: 1.24rem;
}

.order-details-table {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 0;
}

.order-details-table th,
.order-details-table td {
  border: none;
  padding: 13px 0 6px 0;
  vertical-align: middle;
}

.order-details-table .mat-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 7px;
}

.order-details-table td {
  font-size: 2rem;
  font-size: bold;
}

hr {
  margin: 12px 0;
}

.highlight {
  font-weight: 600;
}

.gray-text {
  color: #777;
  font-size: 1.02rem;
}
